body{
    font-family: 'Ubuntu';
}
p{
	color:#8b8b8b;
}
.title{
    background-color: #02779b;
    color:#fff;
}
.logo{
    height:45px;
    padding:5px;
}
.home{
    margin-top: 10px;
}
.images{
    
}
.swiper-container {
    width: 100%;
    height: 100%;
	margin-bottom:10px;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.product-name {
    margin-left:10px;
}
.count-buy {
}
.mark{
	color:#02779b;
}
.mark-param{
	color:black;
}
.rating-result {
	width: 100%
	margin:0;
	margin-bottom:10px;
}
.rating-result span {
	padding: 0;
	font-size: 20px;
	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: yellow;
	text-shadow: 1px 1px #c60;
}
.quality{
	
}
	.quality b{
		background: url(../img/quality.png);
		height: 22px;
		width: 22px;
		background-size: cover;
		background-repeat: no-repeat;
		content: '';
		display: block;
		left: 10;
		position: absolute;
		top: 0;
	}
	.quality-text{
		margin-left:25px;
	}
.link{
	border-bottom: 1px dotted #8b8b8b;
	color:#8b8b8b;
	text-decoration:none;
}
.link:hover{
	color:black;
	border-bottom: 1px dotted black;
	text-decoration:none;
}
.info{
	padding-top: 30px;
}
	.price{
		font-size: 36px;
		font-weight: 700;
		font-family: 'Cantarell';
	}
	.old-price{
		color: #8b8b8b;
		text-decoration: line-through;
		font-size: 20px;
		font-family: 'Cantarell';
	}
	.param{
		margin-top:20px;
	}
	.order-button{
		margin-top:20px;
	}
.structure{
	padding-left:10px;
}
