/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {}



/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
 
}



/* Max Size: 320px. */

@media screen and (max-width: 991px) {}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {
    .swiper-slide img{
        width:624px;
        height:auto;
        }
}


/* Wide Mobile Layout: 600px - 767px. */

@media only screen and (min-width: 600px) and (max-width: 767px) {
    .swiper-slide img{
        width:683px;
        height:auto;
        }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {
    .product-name{

    }
        .product-name h2{
            font-size: 20px;
        }
        .swiper-slide img{
            width:320px;
            height:auto;
            }
}